[submodule "denker_purchase_import"]
	path = denker_purchase_import
	url = https://github.com/humanytek-team/denker_purchase_import
[submodule "denker_stock_import"]
	path = denker_stock_import
	url = https://github.com/humanytek-team/denker_stock_import
[submodule "hr_job_denker"]
	path = hr_job_denker
	url = https://github.com/humanytek-team/hr_job_denker
[submodule "helpdesk_team_types"]
	path = helpdesk_team_types
	url = https://github.com/humanytek-team/helpdesk_team_types
[submodule "hr_employees_assets_denker"]
	path = hr_employees_assets_denker
	url = https://github.com/humanytek-team/hr_employees_assets_denker
[submodule "sale_product_delaytime"]
	path = sale_product_delaytime
	url = https://github.com/humanytek-team/sale_product_delaytime
[submodule "validate_picking_qty_done"]
	path = validate_picking_qty_done
	url = https://github.com/humanytek-team/validate_picking_qty_done
[submodule "validate_client_order_ref"]
	path = validate_client_order_ref
	url = https://github.com/humanytek-team/validate_client_order_ref
